---
    import { css } from "../../styled-system/css";
    import ListEvents from '../components/header/ListEvents.svelte';
---


<header id="header_box" 
    class={
        css({ 
            display: 'flex', 
            position: {
                xsm: 'relative',
                lg: 'relative'
            },
            width: {
                xsm: '100%',
                lg: '35%' 
            },
            height: {
                xsm: '150px',
                lg: '100%'
            },
            justifyContent: 'center',
            alignItems: 'center',
        })
    }
>
    <div id="header_bg" 
        class={
            css({ 
                position: 'absolute', 
                zIndex: 1,
                backgroundImage: {
                    xsm: "url('/09-FEM_multiStepForm/assets/images/bg-sidebar-mobile.svg')",
                    lg: "url('/assets/images/bg-sidebar-desktop.svg')"
                },
                backgroundSize: {
                    xsm: 'cover',
                    lg: 'cover'
                },
                backgroundRepeat: 'no-repeat',
                width: {
                    xsm: '100%',
                    lg: '85%'
                },
                height: {
                    xsm: '150px',
                    lg: '95%' 
                },
                borderRadius: '10px 10px 10px 10px',
            })
        }
    ></div>
    <div id="header_stateForm"
        class={css({
            display: 'flex',
            position: 'absolute',
            zIndex: 2,
            width: {
                xsm: '100%',
                lg: '85%'
            },
            height: {
                xsm: '100%',
                lg: 'fit-content'
            },
            justifyContent: {
                xsm: 'center',
                lg: 'flex-start'
            },
            alignItems: 'center',
            marginTop: {
                xsm: '-20px',
                lg: '-220px'
            },
            paddingLeft: {
                xsm: '0px',
                lg: '20px'
            }
        })}
    >

        <ListEvents client:load />

    </div>
</header>