---

import IndexLayout from "../layouts/index.layout.astro"

import Header from "../isles/header.astro";
import MainApp from "../components/MainApp.svelte";

import { css } from '../../styled-system/css';
---

<IndexLayout>


	<div class={
		css({
			display: {
				xsm: 'block',
				lg: 'flex',
			},
			flexDirection: {
				xsm: 'column',
				md: 'row',
			},
			width: {
				xsm: '100%',
				lg: '60%',
			},
			height: {
				xsm: '100%',
				md: '65%',
			},
			bg: {
				xsm: 'gray.200',
				lg: 'white',
			},
		})
	}>
		<Header />
	
		<MainApp client:load/>
		
	</div>

	
</IndexLayout>
