@layer reset, base, tokens, recipes, utilities;


@font-face {
    font-family: 'Ubuntu Bold';
    src: url('/assets/fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('/assets/fonts/Ubuntu-Medium.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('/assets/fonts/Ubuntu-Regular.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


:root {
    --font-ubuntu-bold: 'Ubuntu Bold', sans-serif;
    --font-ubuntu-medium: 'Ubuntu Medium', sans-serif;
    --font-ubuntu-regular: 'Ubuntu-Regular', sans-serif;
}